type akmd09912, domain;
type akmd09912_exec, exec_type, file_type;
init_daemon_domain(akmd09912)

allow akmd09912 sensors_device:chr_file { open read ioctl write };
allow akmd09912 system_data_file:dir write;
