type akmd09912, domain;
type akmd09912_exec, exec_type, file_type;
init_daemon_domain(akmd09912)

allow akmd09912 sensors_data_file:file { create getattr setattr open read write };
allow akmd09912 sensors_device:chr_file { read write ioctl open };
allow akmd09912 system_data_file:dir { write add_name };
type_transition akmd09912 system_data_file:file sensors_data_file;
