type batt_health, domain;
type batt_health_exec, exec_type, file_type;
init_daemon_domain(batt_health);

allow batt_health batt_health_data_file:dir { search write add_name };
allow batt_health batt_health_data_file:file { setattr open read write create append };
allow batt_health pds_file:dir search;
allow batt_health pds_file:file { open read };
allow batt_health self:capability { dac_override net_admin setuid chown fowner fsetid };
allow batt_health self:netlink_kobject_uevent_socket { create bind setopt read };
allow batt_health sysfs_batt_health:dir search;
allow batt_health sysfs_batt_health:file { open read write };
allow batt_health sysfs_battery_supply:dir { search read };
allow batt_health sysfs_battery_supply:file { open read };
allow batt_health sysfs_usb_supply:dir { search read };
allow batt_health sysfs_usb_supply:file { open read };
