# Unsure what init is doing here
allow init app_data_file:dir setattr;
allow init cid_block_device:blk_file setattr;
allow init clogo_block_device:blk_file setattr;
allow init hob_block_device:blk_file setattr;
allow init logs_block_device:blk_file setattr;
allow init utags_block_device:blk_file setattr;

allow init firmware_file:dir mounton;
allow init fsg_file:dir mounton;
allow init pstorefs:dir mounton;

allow init socket_device:sock_file { create setattr };

# Allow init to format userdata & cache partitions
allow init userdata_block_device:blk_file rw_file_perms;
allow init cache_block_device:blk_file rw_file_perms;
