allow mm-qcamerad debug_prop:property_service set;
allow mm-qcamerad init:unix_stream_socket connectto;
allow mm-qcamerad property_socket:sock_file write;
allow mm-qcamerad persist_file:dir search;
allow mm-qcamerad qdsp_device:chr_file r_file_perms;
allow mm-qcamerad sysfs:file write;
allow mm-qcamerad system_data_file:dir w_dir_perms;
allow mm-qcamerad system_data_file:file open;
allow mm-qcamerad system_server:unix_stream_socket { read write };
allow servicemanager mm-qcamerad:dir search;
allow servicemanager mm-qcamerad:file { open read };
allow servicemanager mm-qcamerad:process getattr;
binder_call(mm-qcamerad, servicemanager)
binder_call(mm-qcamerad, system_server)
