allow mpdecision system_data_file:dir w_dir_perms;
allow mpdecision system_data_file:file create_file_perms;
type_transition mpdecision system_data_file:file mpctl_data_file;
type_transition mpdecision socket_device:sock_file mpctl_socket;
allow mpdecision socket_device:sock_file create_file_perms;
