allow system_server display_sysfs:file { getattr open read write };
allow system_server vibeamp_sysfs:file { getattr open read write };

allow system_server default_prop:property_service set;


