import init.mmi.overlay.rc

# Moto USB configuration
import init.mmi.usb.rc
import init.mmi.diag.rc
import init.mmi.debug.rc

on early-init
    # Create modem FSG mount point
    mkdir /fsg 755 root root

    # boot with max freq, will be reset in post_boot script
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1209600

on init
    mount pstore pstore /sys/fs/pstore
    chown system log /sys/fs/pstore/console-ramoops
    chmod 0440 /sys/fs/pstore/console-ramoops
    chown system log /sys/fs/pstore/annotate-ramoops
    chmod 0640 /sys/fs/pstore/annotate-ramoops

    # Setup kernel dropbox permissions so that dropboxd can utilize it
    chown root diag /sys/kernel/dropbox/event
    chown root diag /sys/kernel/dropbox/data

    # Configure coredump
    write /proc/sys/kernel/core_pattern "|/system/bin/coredump %e %p %t"
    write /proc/self/coredump_filter "0x7f"

    # ESDFS
    chown mot_esdfs root /proc/fs/esdfs/packages

on charger
    trigger early-fs
    trigger fs
    trigger post-fs
    trigger post-fs-data
    trigger moto-charger
    class_stop main

on moto-charger
    start charge_only_mode
    start batt_health
    write /sys/module/lpm_levels/parameters/sleep_disabled 0

on early-boot
    exec /system/bin/sh /init.mmi.early_boot.sh

on boot
  # Change ownership and permission for backlight
    chown system system /sys/class/backlight/lcd-backlight:0/brightness
    chmod 0664 /sys/class/backlight/lcd-backlight:0/brightness
    chown system system /sys/class/backlight/lcd-backlight:0/max_brightness
    chmod 0664 /sys/class/backlight/lcd-backlight:0/max_brightness

    # Change ownership and permission for vibrator
    chown system system /sys/class/timed_output/vibrator/enable
    chmod 0660 /sys/class/timed_output/vibrator/enable

    # Change the ownership of the notification LED interface
    chown system system /sys/class/leds/rgb/control
    chmod 0664 /sys/class/leds/rgb/control

    # Change the ownership of the charging LED interface
    chown system system /sys/class/leds/charging/brightness
    chmod 0664 /sys/class/leds/charging/brightness
    chown system system /sys/class/leds/charging/trigger
    chmod 0664 /sys/class/leds/charging/trigger

    # Assign TCP buffer thresholds to be ceiling value of technology maximums
    # Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  8388608
    write /proc/sys/net/core/wmem_max  8388608

    # create the necessary data dirs for tpapi with proper permission
    mkdir /dev/tpapi 02770 mot_tpapi mot_tpapi
    mkdir /data/tpapi 02770 mot_tpapi mot_tpapi
    mkdir /data/tpapi/etc 02770 mot_tpapi mot_tpapi
    mkdir /data/tpapi/etc/tpa 02770 mot_tpapi mot_tpapi
    mkdir /data/tpapi/etc/tpa/persistent 02770 mot_tpapi mot_tpapi

    # Quiet binder logs
    write /sys/module/binder/parameters/debug_mask 0x5

    # STML0XX driver parameter permissions
    chown root mot_tcmd /sys/module/stml0xx/parameters/irq_disable
    chmod 0660 /sys/module/stml0xx/parameters/irq_disable

    # charging driver parameter permissions
    chown root mot_tcmd /sys/module/fan5404x_charger/parameters/factory_kill_disable
    chmod 0660 /sys/module/fan5404x_charger/parameters/factory_kill_disable

    # usb driver parameter permissions
    chown root mot_tcmd /sys/module/phy_msm_usb/parameters/host_mode_disable
    chmod 0660 /sys/module/phy_msm_usb/parameters/host_mode_disable

    # Create moodle directory that MOT_MOODLE can write to
    mkdir /data/local/moodle 0770 graphics mot_tcmd

    insmod /system/lib/modules/touchx.ko

on fs
    # Mount modem FSG partition
    wait /dev/block/platform/soc.0/by-name/fsg
    mount ext4 /dev/block/platform/soc.0/by-name/fsg /fsg ro nosuid nodev barrier=0 context=u:object_r:fsg_file:s0

    # set up a symbolic link so the many references to the old location still work and the java code can remain platform agnostic.
    symlink /dev/block/platform/soc.0 /dev/block/platform/msm_sdcc.1

    # use /persist as phony PDS partition
    symlink /persist /pds

on post-fs
    mkdir /persist/camera 0755 mot_tcmd mot_tcmd
    mkdir /persist/factory 0755 mot_tcmd mot_tcmd
    mkdir /persist/public 0755 mot_tcmd mot_tcmd
    mkdir /persist/public/atvc 0770 mot_atvc shell
    mkdir /persist/public/battd 0755 mot_accy mot_tcmd
    mkdir /persist/public/hiddenmenu 0755 radio radio
    mkdir /persist/public/hiddenmenu/data 0775 system mot_tcmd
    mkdir /persist/public/locale 0700 system system
    mkdir /persist/public/omadm 0700 radio radio
    mkdir /persist/public/svcs 0770 system system
    mkdir /persist/wifi 0755 mot_tcmd mot_tcmd
    mkdir /persist/bt 0755 mot_tcmd bluetooth
    mkdir /persist/wmdrm 0775 mot_drm mot_drm
    mkdir /persist/security 02770 mot_tpapi mot_tpapi
    mkdir /persist/batt_health 0755 mot_pwric mot_pwric

    chown mot_tcmd mot_tcmd /persist/factory/fti
    chmod 0660 /persist/factory/fti
    chown mot_tcmd mot_tcmd /persist/factory/byte
    chmod 0660 /persist/factory/byte
    chmod 0660 /persist/wifi/wlan_mac.bin
    chown mot_tcmd mot_tcmd /persist/bt/bt_bdaddr
    chmod 0664 /persist/bt/bt_bdaddr
    chmod 0600 /persist/whisper/whisper_only/vector0.bin

    swapon_all fstab.qcom
    write /proc/sys/vm/page-cluster 0
    write /proc/sys/vm/swappiness 100

on post-fs-data

    # Setup folder for native to transfer data to NativeDropBoxAgent
    mkdir /data/system/dropbox-add 0730 system diag

    # Create directory for cutback
    mkdir /data/misc/cutback 0770 radio wifi

    # Create directory used by power_supply_logger
    mkdir /data/power_supply_logger 0750 mot_pwric log

    # Subsystem RAM-dumps
    mkdir /data/ss-ram-dumps 0750 radio log
    mkdir /data/ss-ram-dumps/bp-dumps 0750 radio log
    mkdir /data/ss-ram-dumps/riva-dumps 0750 radio log

    # Permissions for Factory Test of Charging Paths
    chown mot_pwric mot_pwric /sys/class/power_supply/battery/device/force_chg_auto_enable
    chown mot_pwric mot_pwric /sys/class/power_supply/battery/device/force_chg_ibatt
    chown mot_pwric mot_pwric /sys/class/power_supply/battery/device/force_chg_itrick
    chown mot_pwric mot_pwric /sys/class/power_supply/battery/device/force_chg_iusb
    chown mot_pwric mot_pwric /sys/class/power_supply/battery/device/force_chg_usb_suspend
    chown mot_pwric mot_pwric /sys/class/power_supply/battery/device/force_chg_fail_clear
    chown mot_pwric mot_pwric /sys/class/power_supply/battery/device/force_chg_usb_otg_ctl

    # Setup correct permissions for dbvc
    mkdir /data/local/dbvc 0750 mot_tcmd shell

    # Setup folders for diag_mdlog
    mkdir /data/diag_mdlog 0750 system log
    mkdir /data/diag_mdlog/logs 0750 log log

    # Setup folder for aplogd
    mkdir /data/aplogd 0750 log log

    # Permissions for phone power off log
    mkdir /data/power_log 0750 root log
    chmod 0660 /sys/module/power_supply_log/parameters/log_file
    write /sys/module/power_supply_log/parameters/log_file /data/power_log/power_off.log

service batt_health /system/bin/batt_health
    class late_start
    user mot_pwric
    group mot_pwric cache net_admin log
    disabled

on property:sys.boot_completed=1
   start batt_health

service apanic_annotate /system/bin/sh /system/bin/apanic_annotate.sh build
    class late_start
    group log
    oneshot

service charge_only_mode /system/bin/charge_only_mode
    user root
    group graphics system input
    disabled

service ftmipcd /system/bin/ftmipcd
    user radio
    group radio net_raw inet qcom_diag
    disabled
    oneshot

service atvc_core /system/bin/dbvc_atvc_property_set
    class core
    user mot_atvc
    group mot_tpapi
    oneshot

service atvc /system/bin/dbvc_atvc_property_set
    class late_start
    user mot_atvc
    group mot_tpapi
    oneshot

service qe /xbin/qe /system
    class main
    seclabel u:r:qe:s0
    oneshot
    disabled

service qe_broadcast /xbin/qe /system -b
    class main
    seclabel u:r:qe:s0
    oneshot
    disabled

on property:persist.qe.trigger=1
    start qe_broadcast

on property:sys.boot_completed=1
    start qe

# Start Sensor daemon
service stml0xx /system/bin/stml0xx_wrapper.sh
    class late_start
    user compass
    group compass misc input
    oneshot

on property:ro.bootmode=factory
    start ftmipcd

on property:ro.bootmode=mot-factory
    start ftmipcd

# Power up to suspend
on property:tcmd.suspend=1
    stop surfaceflinger
    stop zygote
    stop sensors
    write /sys/kernel/factory_gsbi12_mode/install 1
    setprop debug.sf.nobootanimation 1

# Normal to suspend
on property:tcmd.suspend=2
    stop surfaceflinger
    stop zygote
    stop sensors
    write /sys/kernel/factory_gsbi12_mode/install 1
    setprop debug.sf.nobootanimation 1

on property:persist.sys.diag_mdlog.on=1
    start diag_mdlog

on property:persist.sys.diag_mdlog.on=0
    stop diag_mdlog

on property:log.diag_mdlog.invld_mode_stop=1
    stop diag_mdlog

on property:persist.radio.usbdiag=1
    stop diag_mdlog

service diag_mdlog /system/bin/diag_mdlog-wrap
    class main
    socket mdlog_cmd stream 0660 log diag
    user log
    group log sdcard_rw sdcard_r media_rw qcom_diag mount
    disabled

service tcmd /system/bin/tcmd
    class core
    group mot_tcmd radio mot_pwric input system log camera graphics mot_accy sdcard_r sdcard_rw audio inet bluetooth wifi compass net_bt_admin mot_tombstone mot_tpapi mount net_raw net_admin media shell mot_usb nfc qcom_diag mot_dbvc cache media_rw
    socket local_tcmd stream 0660 mot_tcmd mot_tcmd
    socket batch_socket stream 0600 mot_tcmd mot_tcmd
    oneshot
    disabled

service tcmdhelp /system/bin/tcmdhelp
    class main
    socket tcmdhelp stream 0600 mot_tcmd mot_tcmd
    oneshot
    disabled

on property:tcmd.start_tcmdhelp=1
    start tcmdhelp

on property:tcmd.start_ftmdaemon=1
    start ftmd

on property:persist.log.aplogd.enable=1
    start aplogd

on property:persist.log.aplogd.enable=0
    stop aplogd

service aplogd /system/bin/aplogd
    class main
    #user log
    #group log system sdcard_rw sdcard_r media_rw mount
    # The user and group definitions above are intentionally disabled and left
    # only as documentation. It actually starts as root and immediately drops
    # to log plus those groups after preserving CAP_SYS_ADMIN, which is required
    # for kernel logging.
    disabled

# Let init manage the bug2go-native wakelock, so that we guarantee its
# lifecycle exactly matches that of bug2go-bugreport.  Since init sends
# SIGKILL when stopping a service, we could not guarantee the wakelock would
# get cleaned up if it were managed by bug2go-bugreport itself.
on property:init.svc.bugreport=running
    write /sys/power/wake_lock bug2go-native

on property:init.svc.bugreport=stopping
    write /sys/power/wake_unlock bug2go-native

on property:init.svc.bugreport=stopped
    write /sys/power/wake_unlock bug2go-native

service bugreport /system/bin/bug2go-bugreport
    class main
    disabled
    oneshot
    keycodes 115 116 # VOLUME_UP + PWR

service mmi-boot-sh /system/bin/sh /init.mmi.boot.sh
    class core
    user root
    oneshot

service mmi-touch-sh /system/bin/sh /init.mmi.touch.sh synaptics
    class late_start
    user root
    oneshot

service mmi-dtv-sh /system/bin/sh /init.mmi.dtv.sh
    class core
    user root
    oneshot

on property:vold.decrypt=trigger_restart_framework
    start mmi-dtv-sh

on property:ro.secure=0
    # disable dmesg restrict for insecure builds
    write /proc/sys/kernel/dmesg_restrict 0

on property:ro.debuggable=1
    # disable dmesg restrict in eng/userdebug build
    write /proc/sys/kernel/dmesg_restrict 0
    # enable group read/write to /dev/log/kernel
    chmod 0660 /dev/log/kernel
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq

service hw_revs /system/bin/sh /system/bin/hardware_revisions.sh
    class late_start
    user system
    group system
    oneshot

service mbm_spy /system/bin/mbm_spy
    class late_start
    user system
    group system
    oneshot

service dropboxd /system/bin/dropboxd
    class late_start
    user diag
    group diag

service ss_rdump /system/bin/subsystem_ramdump 1 0
   class late_start
   user radio
   group log sdcard_rw sdcard_r diag

on property:persist.sys.qc.sub.rdump.on=1
   write /sys/module/subsystem_restart/parameters/enable_ramdumps ${persist.sys.qc.sub.rdump.on}

service esdpll /system/bin/esdpll -w
    user mot_esdfs
    group mot_esdfs package_info
    disabled

on property:ro.esdfs_sdcard=true
    wait /data/media/0 600
    mount esdfs /data/media /mnt/shell/emulated derive=legacy
    mount none /mnt/shell/emulated/0 /storage/emulated/legacy bind
    start esdpll

on property:ro.fuse_sdcard=true
    start sdcard

on nonencrypted
    setprop ro.esdfs_sdcard ${persist.esdfs_sdcard}
    setprop ro.fuse_sdcard ${persist.fuse_sdcard}

on property:vold.decrypt=trigger_restart_framework
    setprop ro.esdfs_sdcard ${persist.esdfs_sdcard}
    setprop ro.fuse_sdcard ${persist.fuse_sdcard}
    start bootanim

# DHCP service for Ethernet
service dhcpcd_eth0 /system/bin/dhcpcd -G
    class late_start
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -nBK
    class late_start
    disabled
    oneshot
