# Copyright (c) 2009-2012, 2014, The Linux Foundation. All rights reserved.
# Copyright (c) 2015-2016 The CyanogenMod Project
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on early-init
    start osprey-config-sh

on boot
    # AK09912 driver parameter permissions
    chown system compass /sys/class/compass/akm09912/accel
    chmod 0660 /sys/class/compass/akm09912/accel
    chown system compass /sys/class/compass/akm09912/delay_acc
    chmod 0660 /sys/class/compass/akm09912/delay_acc
    chown system compass /sys/class/compass/akm09912/enable_acc
    chmod 0660 /sys/class/compass/akm09912/enable_acc
    chown system compass /sys/class/compass/akm09912/delay_fusion
    chmod 0660 /sys/class/compass/akm09912/delay_fusion
    chown system compass /sys/class/compass/akm09912/enable_fusion
    chmod 0660 /sys/class/compass/akm09912/enable_fusion
    chown system compass /sys/class/compass/akm09912/delay_mag
    chmod 0660 /sys/class/compass/akm09912/delay_mag
    chown system compass /sys/class/compass/akm09912/enable_mag
    chmod 0660 /sys/class/compass/akm09912/enable_mag

    # Switch to interactive and let PowerHAL configure it
    # lineage-governor.rc handles the interactive permissions
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq

on post-fs-data
    # AK09912 calibration file directory
    mkdir /data/misc/akmd 0770 system compass

# Start AKM executable
service akmd09912 /system/vendor/bin/akmd09912
    class main
    user compass
    group compass misc input

service osprey-config-sh /vendor/bin/init.device.config.sh
    class core
    user root
    oneshot
    disabled

on property:ro.device.dualsim=true
    setprop persist.radio.multisim.config dsds
    setprop ro.telephony.default_network 9
    setprop persist.radio.force_get_pref 1

on property:ro.device.dualsim=false
    setprop persist.radio.multisim.config ""
    setprop ro.telephony.default_network 9

on property:ro.boot.hardware.sku=XT1548
    setprop ro.product.locale.region US
    setprop gsm.sim.operator.iso-country US
    setprop gsm.operator.iso-country US
    setprop ril.subscription.types "NV,RUIM"
    setprop ro.telephony.default_cdma_sub 0
    setprop ro.telephony.get_imsi_from_sim true
    setprop telephony.lteOnCdmaDevice 1
    setprop ro.telephony.default_network 8

on property:ro.boot.carrier=sprint
    setprop ro.cdma.home.operator.alpha Sprint
    setprop ro.cdma.home.operator.numeric 310120

on property:sys.boot_completed=1
    setprop sys.io.scheduler bfq

    write /sys/module/lpm_levels/parameters/sleep_disabled 0
    write /sys/devices/system/cpu/cpu0/online 1

    # HMP scheduler settings
    write /proc/sys/kernel/sched_ravg_hist_size 3
    write /proc/sys/kernel/sched_window_stats_policy 3

    # HMP Task packing settings for 8916
    write /proc/sys/kernel/sched_small_task 50

    # enable thermal core_control
    write /sys/module/msm_thermal/core_control/enabled 1

    start batt_health

    write /sys/class/devfreq/1c00000.qcom,kgsl-3d0/governor "msm-adreno-tz"
    write /sys/class/devfreq/qcom,cpubw.30/governor "cpufreq"

    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
    write /sys/module/lowmemorykiller/parameters/vmpressure_file_min 49152
